@model List<LibraryWithMVC.Models.Entity.tbl_category>

@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategoriler</h2>
<hr />


<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ctg_id</td>
                <td>@item.ctg_name</td>
                <td><a href="#" class="btn btn-primary">Güncelle</a></td>
                <td><a href="#" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </tbody>
</table>

