/* Genel tablo stili */
.table {
    width: 100%;
    border-collapse: collapse; /* Hücrelerin birleşmesi */
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border: none; /* Tablonun genel kenarlığını kaldır */
}

    /* Başlık stili */
    .table thead th {
        background-color: #4e73df;
        color: #ffffff;
        text-align: center;
        padding: 12px;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 500;
        border-bottom: 2px solid #4e73df;
        letter-spacing: 0.5px; /* Harfler arasında biraz boşluk */
        border-right: none; /* Dikine çizgi yok */
        border: none;
    }

    /* Gövde stili */
    .table tbody tr {
        border-bottom: 1px solid #dddddd; /* Sadece yatay çizgiler */
        transition: background-color 0.3s ease;
    }

        .table tbody tr:last-child {
            border-bottom: none;
        }

    .table tbody td {
        padding: 12px;
        font-size: 16px;
        text-align: center; /* Hücre içeriğini ortala */
        vertical-align: middle; /* İçeriği dikeyde ortala */
        border: none; /* Tüm kenarlıkları kaldır */
    }

    /* Satırların üzerine gelindiğinde arka plan rengi */
    .table tbody tr:hover {
        background-color: #f1f1f1;
    }

/* Butonların ortalanması */
.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
