
@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="tr">

<head>
    <title>404</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>

    <link rel="stylesheet" href="/Templates/weberror/css/font-awesome.min.css" />
    <link href="/Templates/weberror/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Templates/weberror/css/style.css" rel='stylesheet' type='text/css' media="all">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">

</head>

<body>

    <h1 class="error">OOOPPSSS!</h1>
    <div class="top-w3ls">
        <h2>404</h2>
        <h3>Üzgünüz Aradığınız Sayfa Bulunamadı</h3>
        <p>
            Ana sayfaya dönmek ister misin?
        </p>

        <div class="row-col">
            <div class="banner-agileits-btm">
                <div class="w3layouts_more-buttn">
                    <a href="/Showcase/Index/" class="play-icon popup-with-zoom-anim">Ana Sayfa</a>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='/Templates/weberror/js/jquery-2.2.3.min.js'></script>
    <script src="/Templates/weberror/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>

</body>

</html>
