@{
    ViewBag.Title = "Hava Durumu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Hava Durumu Raporu | Kütüphane Yönetim Sistemi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link href="~/Templates/webhava/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <script src="~/Templates/webhava/js/jquery-2.1.4.min.js"></script>
    <script src="~/Templates/webhava/js/skycons.js"></script>
</head>
<body>
    <!-- w3ls-weather -->
    <div class="w3ls-weather">
        <h1>Kütüphane Hava Durumu</h1>
        <div class="w3ls-weather-agileinfo">
            <div class="weather-left">
                <div class="weather-left-text">
                    <h3>İstanbul, Türkiye</h3>
                    <h4>@DateTime.Now.Date.ToShortDateString()</h4>
                </div>
                <ul class="report">
                    <li><a href="#">25 °C</a></li>
                    <li><a href="#"><span>79</span> °F</a></li>
                </ul>
            </div>
            <div class="weather-right">
                <ul>
                    <li>
                        <figure class="icons">
                            <canvas id="partly-cloudy-day" width="60" height="60"></canvas>
                        </figure>
                        <h3>25 °C</h3>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <figure class="icons">
                            <canvas id="clear-day" width="40" height="40"></canvas>
                        </figure>
                        <div class="weather-text">
                            <h4>Çarş.</h4>
                            <h5>27 °C</h5>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <figure class="icons">
                            <canvas id="snow" width="40" height="40"></canvas>
                        </figure>
                        <div class="weather-text">
                            <h4>Perş.</h4>
                            <h5>13 °C</h5>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <figure class="icons">
                            <canvas id="partly-cloudy-night" width="40" height="40"></canvas>
                        </figure>
                        <div class="weather-text">
                            <h4>Cuma</h4>
                            <h5>18 °C</h5>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
                <script>
                    var icons = new Skycons({ "color": "#fff" });
                    icons.set("partly-cloudy-day", Skycons.PARTLY_CLOUDY_DAY);
                    icons.set("clear-day", Skycons.CLEAR_DAY);
                    icons.set("snow", Skycons.SNOW);
                    icons.set("partly-cloudy-night", Skycons.PARTLY_CLOUDY_NIGHT);
                    icons.play();
                </script>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- copyright -->
    <div class="copyw3-agile">
        <p> @DateTime.Now.Year Kütüphane Hava Durumu . Tüm Hakları Saklıdır | Design by <a href="http://w3layouts.com/" target="_blank">Kütüphane Yönetim Sistemi</a></p>
    </div>
</body>
</html>
